/*--------GENERAL--------*/

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(48, 48, 48, 0.8);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgba(99, 99, 99, 0.8);
}

body,html{
    margin: 0;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;;
}

header{
    margin: 0;
}

/*--------NAVBAR--------*/

#navbar{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #242424;
    border-bottom: rgba(119, 116, 116, 0.699) solid 1px;
    color: white;
}

#header{
    padding: 5px 4vw;
    font-size: 23px;
}

#nav-head-link{
    text-decoration: none;
    color: rgb(218, 218, 218);
}

#links{
    display: flex;
    padding: 0;
}

#links li{
    list-style-type: none;
    padding: 0 15px;
    position: relative;
}

.nav-link{
    text-decoration: none;
    font-size: 0.8em;
    color: rgb(218, 218, 218);
    transition: color ease-out 300ms;
}

.nav-link::before{
    display: block;
    position: absolute;
    content: '';
    height: 4px;
    background-color: #284B63;
    top: 23px;
    width: 0%;
    transition: all ease-out 300ms;
}

.nav-link:hover::before{
    width: 75%;
}

.nav-link:hover{
    color: white;
}

@media (max-width: 376px){
    #links li{
        padding: 0 2vw;
    }
}

/*--------HOME--------*/

#about-section section{
    display: flex;
    justify-content: space-between;
    padding: 6em 10%;
}

#picture-of-me{
    width: 35%;
}

.section-info{
    align-self: center;
    text-align: center;
    width: 40%;
}

.section-info h2{
    font-size: 2.7em;
    margin: auto;
    width: fit-content;
    border-bottom: 2px solid black;
}

#info-p{
    width: 80%;
    margin: 13px auto;
}

.section-info p{
    margin-bottom: 10px;
}

#connect{
    font-size: 0.8em;
}

#contact-me-link{
    margin: auto;
    padding-top: 10px;
    width: 50%;
    border-top: 1px solid rgba(112, 128, 144, 0.562);
}

#social-links{
    display: inline-flex;
}

.social{
    display: flex;
    margin: 5px;
    text-decoration: none;
    color: black;
}

.social img{
    width: 20px;
    margin-left: 5px;
}

.abt1{
    background-color: #e9ecef;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: fit-content;
}

.about-me h2{
    width: fit-content;
    border-bottom: black solid 2px;
}

#languages h3{
    text-align: center;
}

#list-of-things{
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}

#list-of-things li{
    list-style: none;
}

.temp-pic{
    width: 38vw;
    height: 38vw;
}

#about-info{
    text-align: justify;
    width: 50%;
}

#about-info h2{
    text-align: center;
    margin: auto;
    margin-bottom: 1.5em;
}

#qualifications{
    width: 60%;
}

#qualifications h2{
    margin: auto;
    text-align: center;
}

.contact-info{
    padding: 50px 4vw;
}

.contact-info h1{
    border-bottom: grey solid 2px;
    width: fit-content;
}

@media (max-width: 1178px){
    .section-info h2{
        font-size: 2em;
    }

    .section-info p{
        font-size: 0.85em;
    }

    .social{
        font-size: 0.9em;
    }
}

@media (max-width: 1047px){
    #about-info p{
        font-size: 0.9em;
    }
    #list-of-things{
        font-size: 0.9em;
    }
}

@media (max-width: 1015px){
    .temp-pic{
        display: none;
    }

    #picture-of-me{
        display: none;
    }

    #about-section section{
        display: block;    
    }

    .section-info{
        margin: auto;
        margin-top: 20%;
        width: 80%;
    }

    .section-info h2{
        font-size: 3em;
    }

    .section-info p{
        font-size: 1em;
    }

    .social{
        font-size: 1em;
    }

    #about-info{
        margin: auto;
        width: 80%;
    }
}

@media (max-width: 376px){
    #about-info h2{
        font-size: 1.2em;
    }

    #about-info p{
        font-size: 0.8em;
    }

    #languages h3{
        font-size: 1em;
    }

    #list-of-things{
        font-size: 0.7em;
    }

    .about-section section{
        padding-bottom: 5px;
    }
}

/*--------PROJECTS--------*/

.projects-type{
    margin: auto 7vw;
    border-bottom: 2px solid black;
    width: 20%;
    margin-bottom: 30px;
}

.project-container{
    padding-top: 6em;
    margin: auto 4vw;
}

.project-container h1{
    text-align: center;
    margin: auto;
    margin-bottom: 8vh;
    border-bottom: 2px solid black;
    width: 20%;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project{
    width: 35%;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
}

.project h3{
    margin: 15px auto;
}

.project p{
    margin: 20px auto;
}

.project-pic{
    width: 90%;
    transition: width 0.25s;
}

.project-pic:hover{
    width: 100%;
}

.project div{
    width: 90%;
}

.contact-section{
    padding-top: 6em;
    margin: auto 4vw;
}

.contact-section input{
    margin-bottom: 1em;
}

section h1{
    width: fit-content;
    border-bottom: black solid 2px;
}

@media (max-width: 719px){
    .projects-type{
        width: fit-content;
        margin: auto;
        margin-bottom: 2%;
    }

    .project-container h1{
        width: fit-content;
    }

    .projects{
        display: block;
    }

    .project{
        margin: auto;
        width: 80%;
    }

    .project-pic{
        width: 100%;
    }
}

/*--------GAMES--------*/

.games{
    padding: 6em 4vw;
    display: flex;
    flex-direction: column;
}

.games h1{
    align-self: center;
}

.game-section{
    padding: 6em 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.games-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.game{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 3em;
    margin-bottom: 1em;
    background-color: white;
}

.game a img{
    width: 200px;
    height: 200px;
}

.about-game{
    width: fit-content;
    height: 100%;
}

.about-game h2{
    margin: 10px auto;
}

.about-game p{
    margin: 10px auto;
}

#snake-canvas{
    width: 400px;
    margin: auto;
}

#snake-container{
    justify-content: center;
    padding-bottom: 0;
}

#snake-container p{
    align-self: center;
    width: 800px;
}

#asteroid-container{
    padding-bottom: 0;
}

#si-container{
    justify-content: center;
    padding-bottom: 0;
}

#si-container p{
    align-self: center;
    width: 800px;
}

#game-over{
    font-size: 2em;
    position: absolute;
    top: 200px;
    left: 45%;
    display: none;
}

#game-over{
    position: absolute;
    font-size: 2em;
    top: 250px;
    left: 43%;
}

#reset{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 0.9em;
}

#score{
    position: absolute;
    font-size: 2em;
    top: 110px;
    left: 49%;
}

@media (max-width: 869px){
    .game{
        width: 60%;
    }

    .game a img{
        width: 100%;
        height: auto;

    }
}